.main-navigation {
  width: 100%;
  height: 4.5rem;
  background: DarkOliveGreen;
  box-shadow: inset 0 3px 0 0 rgba(255, 255, 255, 0.5),
    inset 0 -3px 0 0 rgba(255, 255, 255, 0.5);
}

.main-navigation ul {
  list-style: none;
  margin: 0 75px 0 15px;
  padding: 0;
  display: flex;
  height: 4.5rem;
  align-items: center;
}

.main-navigation nav li:first-child {
  /* margin-right: auto; */
  flex-grow: 1;
  font-size: 1.5rem;
  font-style: italic;
  color: whitesmoke;
  text-shadow: 1px 1px 2px #000;
}

/* .main-navigation nav li:first-child a {
  color: whitesmoke;
  text-shadow: 1px 1px 2px #000;
} */

.main-navigation a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.main-navigation a:hover,
.main-navigation a:active {
  background: white;
  color: #00179b;
}
