* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  background: rebeccapurple;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: rgb(72, 27, 117);
}
